<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-roundtrip" version="0.0.1">
    <name>RoundTrip</name>

    <description>An Android Cordova plugin</description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/cruckman900/RoundTrip.git</repo>
    <issue>https://github.com/cruckman900/RoundTrip/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/roundtrip.js" name="RoundTrip">
        <clobbers target="cordova.plugin.RoundTrip" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RoundTrip">
                <param name="android-package" value="com.chrisruckman.cordova.plugin.roundtrip"/>
            </feature>
        </config-file>

        <source-file src="src/android/RoundTrip.java" target-dir="src/com/chrisruckman/cordova/plugin" />
    </platform>
</plugin>